= form_for @book do |f|
  - if @book.errors.any?
    #error_explanation
      %h2= "#{pluralize(@book.errors.count, "error")} prohibited this book from being saved:"
      // Wystąpił błąd podczas dodawania nowej pozycji do biblioteczki:
      %ul
        - @book.errors.messages.values.each do |msg|
          - msg.each do |m|
            %li= m
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :cover_url
    = f.text_field :cover_url
  .field
    = f.collection_select(:status_id, Status.all, :id, :description)
  .actions
    = f.submit 'Save'
