%h1 Biblioteczka

= form_tag books_path, method: 'get' do
  = text_field_tag :search, params[:search], class: 'form-control'
  = submit_tag "Szukaj", name: nil, class: 'btn btn-default'
  = link_to books_path do
    = button_tag "Wyzeruj", class: 'btn btn-default'
  
%table.table.table-striped.table-hover
  %tr
    %th.col-md-2.col-sm-2.col-lg-2 Okładka
    %th.col-md-4.col-sm-4.col-lg-4= sortable 'title', 'Tytuł'
    %th.col-md-3.col-sm-3.col-lg-4 Autor
    %th.col-md-3.col-sm-3.col-lg-2= sortable 'status_id', 'Status'
    //%th 
    //%th
    //%th
  - @books.each do |book|
    %tr
      %td
        = link_to(image_tag(book.cover_url, class: 'cover', alt: 'Okładka książki "' + book.title + '"'), image_url(book.cover_url), {class: 'fancybox'})
      %td= book.title
      %td
        - book.authors.map(&:name).each do |author|
          - unless author == book.authors.map(&:name).last
            = author + ','
          - else
            = author
      %td= best_in_place book, :status_id, type: :select, collection: @status_collection
      
      //%td= link_to 'Show', book
      //%td= link_to 'Edit', edit_book_path(book)
      //%td= link_to 'Destroy', book, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
= will_paginate @books
//= link_to 'New Book', new_book_path
