// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/

.table
  td
    height: 108px
  .cover
    height: 100px
    
#search
  width: 200px
  float: left
  margin: 0 5px 10px 0
  
.best_in_place
  display: inline-block
  padding: 2px 12px
  margin-bottom: 0px
  font-size: 14px
  line-height: 20px
  text-align: center
  vertical-align: middle
  cursor: pointer
  color: #333
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.75)
  background-color: #F5F5F5
  background-image: linear-gradient(to bottom, #FFF, #E6E6E6)
  background-repeat: repeat-x
  border-width: 1px
  border-style: solid
  border-color: #CCC #CCC #B3B3B3
  -moz-border-top-colors: none
  -moz-border-right-colors: none
  -moz-border-bottom-colors: none
  -moz-border-left-colors: none
  border-image: none
  border-radius: 4px
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.05)
